<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>View Booking</title>
</head>
<body>
<h1>View Add</h1>
<div class="container">
    <h3>Title: <span th:text="${showBooking.firstName}"></span></h3>
    <p>Description: <span th:text="${showBooking.lastName}"></span></p>
</div>
<a href="/bookings">Back to list</a>
</body>
</html>
